/* Importing font-families */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');


/* Reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #212529;
    height: 3993.75px;
    /* height: 3833.25px; */
    width: 1284px;
}


/* Nav Bar */
.top-nav {
    background-color: #ffffff !important;
    color: #212529;
    padding: 8px 16px;
    height: 87.75px;
    width: 1284px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-nav .container {
    display: flex;
    margin: 0px 16px;
    padding: 0px 10px;
    height: 70.75px;
    width: 1220px;
    align-items: center;
}

.top-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.top-nav h1 {
    display: flex;
    align-items: center;
}

.top-nav .container .top-nav-center {
    order: 2;
    display: flex;
    height: 70.75px;
    width: 87.28px;
    justify-content: center;
}

.top-nav .container .top-nav-left {
    order: 1;
    display: flex;
    height: 37px;
    width: 556.3px;
    justify-content: flex-start; 
}

.top-nav .container .top-nav-right {
    order: 3;
    display: flex;
    height: 37px;
    width: 556.44px;
    justify-content: flex-end;
}

.top-nav .home {
    height: 37px;
    width: 68.7px;
    padding: 8px;
}

.top-nav .posts {
    height: 37px;
    width: 64.53px;
    padding: 8px;
}

.top-nav .components {
    height: 37px;
    width: 114.94px;
    padding: 8px;
}

.top-nav .logo {
    display: flex;
    justify-content: center;
    height: 70.75px;
    width: 87.28px;
    padding: 5.37504px 0px;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.9);
}

.top-nav .about {
    height: 37px;
    width: 57.36px;
    padding: 8px;
}

.top-nav .contact {
    height: 37px;
    width: 68.95px;
    padding: 8px;
}

.top-nav .search {
    height: 35px;
    width: 114px;
    margin: 0px 8px 0px 0px;
    padding: 6px 12px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(206, 212, 218);
    border-radius: 20px;
}

.top-nav .search:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.5);
}

.top-nav a {
    color: rgba(0, 0, 0, 0.5);
}

.top-nav a:hover {
    color: rgba(0, 0, 0, 0.9);
}


/* Main Area */
.main-area {
    height: 3258.5px;
    width: 1284px;
    padding: 24px 0px 0px;
}

.main-area .main-area-container {
    display: flex;
    justify-content: center;
}

/* Main Area Article */
.main-area .article-area {
    /* display: flex;
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0; */
    height: 3234.5px;
    width: 915px;
    padding: 0px 10px;
    order: 1;
    /* justify-content: flex-start; */
}

.main-area .article-area .article {
    display: flex;
    flex-direction: column;
    height: 784.63px;
    width: 895px;
    margin: 0px 0px 24px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-area .article-area .article .card-header {
    height: 90px;
    width: 875px;
    padding: 12px 24px;
    box-sizing: border-box;
}

.main-area .article .card-header .card-meta p {
    height: 29px;
    width: 827px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.main-area .article .card-header .card-meta a {
    height: 18px;
    width: 52.19px;
    color: #212529;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.main-area .article .card-header .card-title {
    height: 25px;
    width: 827px;
    margin: 0px 0px 12px;
    font-family: 'PT Serif', serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #212529;
}

.main-area .article-area .article .card-image {
    height: 583.63px;
    width: 875px;
}

.main-area .article-area .article .card-body {
    height: 90px;
    width: 875px;
    padding: 24px;
}

.main-area .article .card-body p {
    height: 42px;
    width: 827px;
    color: #212529;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/* Main Area Side Menu */
.main-area .side-menu {
    /* display: flex;
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0; */
    height: 3234.5px;
    width: 305px;
    padding: 0px 10px;
    order: 2;
    /* justify-content: flex-end; */
}

.main-area .side-menu .side-menu-about-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 232px;
    width: 285px;
    margin: 0px 0px 24px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-area .side-menu .about-card {
    box-sizing: border-box;
    height: 211px;
    width: 265px;
    padding: 24px;
    overflow-wrap: break-word;
}

.main-area .side-menu .about-card-title h4 {
    height: 25px;
    width: 217px;
    margin: 0px 0px 12px;
    font-family: 'PT Serif', serif;
    font-size: 21px;
}

.main-area .side-menu .about-card a {
    color: #212529;
}

.main-area .side-menu .about-card p {
    height: 126px;
    width: 217px;
}


.main-area .side-menu .sticky-menu {
    position: sticky;
    top: 34px;
}

.main-area .side-menu .side-menu-tags-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 164px;
    width: 285px;
    margin: 0px 0px 24px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-area .side-menu .tags-card {
    box-sizing: border-box;
    height: 143px;
    width: 265px;
    padding: 24px;
    font-weight: 400;
    line-height: 21px;
    overflow-wrap: break-word;
}

.main-area .side-menu .tags-card-title h4 {
    height: 25px;
    width: 217px;
    margin: 0px 0px 12px;
    font-family: 'PT Serif', serif;
    font-size: 21px;
}

.main-area .side-menu .tags-card-btn1 {
    display: inline-block;
    height: 25px;
    width: 63.61px;
    color: #212529;
    background-color: #eff1f4;
    margin: 0px 0px 4px;
    margin-bottom: 4px;
    padding: 4px 8px;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 15.75px;
}

.main-area .side-menu .tags-card-btn2 {
    display: inline-block;
    height: 25px;
    width: 49.06px;
    color: #212529;
    background-color: #eff1f4;
    margin: 0px 0px 4px;
    padding: 4px 8px;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 15.75px;
}

.main-area .side-menu .tags-card-btn3 {
    display: inline-block;
    height: 25px;
    width: 70.91px;
    color: #212529;
    background-color: #eff1f4;
    margin: 0px 0px 4px;
    padding: 4px 8px;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 15.75px;
}

.main-area .side-menu .tags-card-btn4 {
    display: inline-block;
    height: 25px;
    width: 93.72px;
    color: #212529;
    background-color: #eff1f4;
    margin: 0px 0px 4px;
    padding: 4px 8px;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 15.75px;
}

.main-area .side-menu .tags-card-btn5 {
    display: inline-block;
    height: 25px;
    width: 100.38px;
    color: #212529;
    background-color: #eff1f4;
    margin: 0px 0px 4px;
    padding: 4px 8px;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 15.75px;
}

.main-area .side-menu .tags-card-btn a:hover {
    background-color: #D7DEE1;
}

.main-area .side-menu .tags-card a {
    color: #212529;
    vertical-align: middle;
}

.main-area .side-menu .side-menu-stories-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 501.33px;
    width: 285px;
    margin: 0px 0px 24px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-area .side-menu .stories-card {
    box-sizing: border-box;
    height: 480.33px;
    width: 265px;
    padding: 24px;
    font-weight: 400;
    line-height: 21px;
    overflow-wrap: break-word;
}

.main-area .side-menu .stories-card-title h4 {
    height: 25px;
    width: 217px;
    margin: 0px 0px 12px;
    font-family: 'PT Serif', serif;
    font-size: 21px;
}

.main-area .side-menu .story-card-title h4 {
    height: 16px;
    width: 217px;
    margin: 0px 0px 8px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

.main-area .side-menu .stories-card .stories .stories-card-img {
    height: 144.59px;
    width: 217px;
}

.main-area .side-menu .stories-card .stories p {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.main-area .side-menu .stories-card a {
    color: #212529;
    vertical-align: middle;
}


/* Newsletter */
.newsletter {
    height: 297px;
    width: 1284px;
    background-color: #f2f4f5;
    color: #212529;
    margin: 48px 0px 0px;
    padding: 80px 0px;
}

.newsletter .newsletter-container {
    height: 137px;
    width: 1220px;
    margin: 0px 32px;
    padding: 0px 10px;
}

.newsletter .text-center {
    box-sizing: border-box;
    height: 137px;
    width: 1200px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.newsletter .newsletter-title {
    box-sizing: border-box;
    height: 25px;
    width: 1200px;
    font-family: 'PT Serif', serif;
    font-size: 21px;
    font-weight: 700;
    margin: 0px 0px 8px;
    color: #212529;
    line-height: 25.2px;
    text-align: center;
    text-size-adjust: 100%;
}

.newsletter .newsletter-text {
    box-sizing: border-box;
    height: 21px;
    width: 1200px;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #6c757d;
    margin: 0px 0px 16px;
}

.newsletter .newsletter-input-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 67px;
    width: 508.33px;
    margin: 0px 355.828px;
    padding: 0px 10px;
}

.newsletter .newsletter-input-row .email {
    display: flex;
}

.newsletter .newsletter-input-row .email-input {
    height: 35px;
    width: 387.78px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #495057;
}

.newsletter .newsletter-input-row .email-input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.6);
}

.newsletter .newsletter-input-row .subscribe-btn {
    display: inline-block;
    height: 35px;
    width: 100.55px;
    padding: 6px 12px;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
    border: 1px solid transparent;
}

.newsletter .newsletter-input-row .subscribe-btn:hover {
    background-color: #505355;
}


/* Follow Insta */
/* .follow-insta {
    display: flex;
} */

/* .follow-insta .insta-link {
    display: flex;
    align-items: center;
    height: 160.5px;
    width: 1284px;
    justify-content: center;
}

.follow-insta .insta-btn {
    height: 35px;
    width: 204.94px;
    padding: 6px 12px;
    box-sizing: border-box;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(239, 241, 244);
}

.follow-insta a {
    color: rgb(33, 37, 41);
    border-color: #eff1f4;
    border: 1px solid transparent;
} */

.follow-insta .img-btm {
    display: flex;
}

.follow-insta .btm-img {
    height: 160.5px;
    width: 160.5px;
}


/* Footer */
.darkset {
    box-sizing: border-box;
    height: 142px;
    width: 1284px;
    color: #212529;
    background-color: #000000;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.darkset .darkset-container {
    box-sizing: border-box;
    height: 142px;
    width: 1220px;
    margin: 0px 32px;
    padding: 0px 10px;
    color: #212529;
}

.darkset .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 65px;
    width: 1200px;
    list-style: none;
}

.darkset .footer-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
}

.darkset.footer-menu .footer-nav1 {
    /* display: flex; */
    box-sizing: border-box;
    height: 65px;
    width: 143.31px;
    align-items: center;
    /* justify-content: center; */
}

.darkset .footer-menu .privacy-policy {
    box-sizing: border-box;
    height: 25px;
    width: 143.31px;
    margin: 20px 0px;
    padding: 2px 16px;
    color: #555d65;
    border-right: 1px solid #495057;
}

.darkset.footer-menu .footer-nav2 {
    /* display: flex; */
    box-sizing: border-box;
    height: 65px;
    width: 79.17px;
    align-items: center;
    /* justify-content: center; */
}

.darkset .footer-menu .terms {
    box-sizing: border-box;
    height: 25px;
    width: 79.17px;
    margin: 20px 0px;
    padding: 2px 16px;
    color: #555d65;
    border-right: 1px solid #495057;
}

.darkset.footer-menu .footer-nav3 {
    /* display: flex; */
    box-sizing: border-box;
    height: 65px;
    width: 103.06px;
    align-items: center;
    /* justify-content: center; */
}

.darkset .footer-menu .feedback {
    box-sizing: border-box;
    height: 25px;
    width: 103.06px;
    margin: 20px 0px;
    padding: 2px 16px;
    color: #555d65;
    border-right: 1px solid #495057;
}

.darkset.footer-menu .footer-nav4 {
    /* display: flex; */
    box-sizing: border-box;
    height: 65px;
    width: 107.39px;
    align-items: center;
    /* justify-content: center; */
}

.darkset .footer-menu .advertise {
    box-sizing: border-box;
    height: 25px;
    width: 107.39px;
    margin: 20px 0px;
    padding: 2px 16px;
    color: #555d65;
    border-right: 1px solid #495057;
}

.darkset.footer-menu .footer-nav5 {
    /* display: flex; */
    box-sizing: border-box;
    height: 65px;
    width: 94.3px;
    align-items: center;
    /* justify-content: center; */
}

.darkset .footer-menu .contact {
    box-sizing: border-box;
    height: 25px;
    width: 94.3px;
    margin: 20px 0px;
    padding: 2px 16px;
    color: #555d65;
    border-right: 1px solid #495057;
}

.darkset .footer-menu a:hover {
    color: #CECFCF;
}

.copyright {
    height: 77px;
    width: 800px;
    text-align: center;
    margin: 0px 200px;
    padding: 20px 0px;
    border-top: 1px solid #212529;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 12.6px;
    font-weight: 400;
    line-height: 18.9px;
    color: #555d65;
}